/* Reset some basic elements */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.experience {
  height: 100vh;
  padding: 5rem 7% 2rem;
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
}
.experience-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
}
.experience-card-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.experience-content{
  border-radius: 12px;
}
.experience-content.light-mode {
  background: #ffffff;
  border-top: 5px solid #9c89b8;
  border-bottom: 5px solid #9c89b8;
}
.experience-content.dark-mode {
  background: #9c89b8;
  border-top: 5px solid #f0e6ef;
  border-bottom: 5px solid #f0e6ef;
}
.experience-card {
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  transition: 0.5s ease;
}
.experience-card:hover {
  transform: translateY(-5px);
}
.experience-card-image {
  width: 50%;
  height: auto;
  display: block;
  margin-left: 5px;
}
.experience-card-content {
  padding: 1.5rem;
}
.experience-card-title {
  margin-bottom: 0.75rem;
  font-size: 2rem;
}
.experiencecard-description {
  font-size: large;
  line-height: 1.6;
}
/* Responsive Design */
@media (max-width: 1024px) {
  .experience-card {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .experience-card-title {
    font-size: 1.3rem;
  }
  .experience-card-description {
    font-size: 0.95rem;
  }
}
@media (max-width: 480px) {
  .experience-card-container {
    padding: 1rem;
  }
  .experience-card-title {
    font-size: 1.1rem;
  }
  .experience-card-description {
    font-size: 0.9rem;
  }
}
