@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AR:wght@100..400&family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&display=swap');
.home {
  box-sizing: border-box;
  height: 100vh;
  padding: 4rem 4% 2rem;
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
}
.home-content {
  margin-top: 10%;
  margin-left: 150px;
}
.home-content span {
  font-weight: bold;
  font-size: 30px;
}
.home-content p {
  width: 50%;
  height: 20px;
  text-align: justify;
  font-size: 20px;
}
.home-anchor{
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-btn {
  /* position: absolute; */
  /* bottom: 230px; */
  font-size: 18px;
  padding: 0.7em 2em;
  border-radius: 2px;
  transition: 0.3s ease all;
}
.home-btn::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #9c89b8;
  z-index: -1;
}
.home-btn:hover.light-mode,
.home-btn:focus.light-mode {
  color: white;
}
.home-btn:hover.light-mode,
.home-btn:focus.dark-mode {
  color: #000000;
}
.home-btn:hover::before,
.home-btn:focus::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.home-btn:active {
  transform: scale(0.9);
}
.home-btn.light-mode {
  color: #9c89b8;
  border: 2px solid #9c89b8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.home-btn.light-mode:hover {
  color: #ffffff;
  background-color: #9c89b8;
  box-shadow: 0 2px 10px rgba(23, 22, 22, 0.821),
    0 3px 6px rgba(31, 30, 30, 0.772);
}
.home-btn.dark-mode:hover {
  color: #000000;
  background-color: #9c89b8;
  box-shadow: 0 2px 10px rgba(224, 220, 220, 0.821),
    0 3px 6px rgba(217, 216, 216, 0.772);
}
.home-btn.dark-mode {
  background-color: #9c89b8;
  color: #ffffff;
}
.home-btn.dark-mode:hover {
  background-color: #ffffff;
  color: #9c89b8;
}
.home-img {
  height: 370px;
  width: 370px;
  background-image: url('../Images/Vaishnawi_Pic.png');
  margin-left: 60%;
  margin-top: -15%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}
.home-img.light-mode {
  border: 4px solid #9c89b8;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.8);
}
.home-img.dark-mode {
  border: 4px solid #ffffff;
  box-shadow: 0 0.1rem 0.5rem rgb(241, 241, 241);
}
.home-img:hover {
  transform: scale(1.1, 1.1);
}
@media screen and (max-width: 768px) {
  .home-content h1 {
    margin-left: -120px;
    margin-top: -70px;
  }
  .home-content span {
    margin-left: -68.9px;
    font-size: x-large;
  }
  .home-content p {
    margin-left: -120px;
    width: 140%;
    text-align: justify;
  }
  .home-btn {
    bottom: 300px;
    left: 50px;
  }
  .home-img {
    margin-top: 330px;
    position: absolute;
    right: 95px;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
  }
}
