.home{
  height: 100vh;
}
.homepage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  font-size: 30px;
}
.txt-rotate {
  display: flex;
}
.home_p {
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 600px;
}
.left-section,
.right-section {
  flex: 1;
  border-radius: 10px;
}
.left-section {
  padding: 180px 0px 0px 120px;
}
.home-heading {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
}
.right-section {
  padding-top: 140px;
  padding-left: 80px;
}
.home_img {
  border-radius: 50%;
  border: 2px solid #9c89b8;
  width: 280px;
  height: auto;
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.txt-rotate > .wrap_home {
  border-right: 0.08em solid #666;
}
.home-btn {
  text-decoration: none;
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 260px;
}
.home-btn svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.home-btn:hover svg {
  margin-left: 25px;
}
.home-btn.light-mode {
  color: #9c89b8;
  border: 2px solid #9c89b8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.home-btn.light-mode:hover {
  color: #ffffff;
  background-color: #9c89b8;
  box-shadow: 0 2px 10px rgba(23, 22, 22, 0.821),
    0 3px 6px rgba(31, 30, 30, 0.772);
}
.home-btn.dark-mode:hover {
  color: #000000;
  background-color: #9c89b8;
  box-shadow: 0 2px 10px rgba(224, 220, 220, 0.821),
    0 3px 6px rgba(217, 216, 216, 0.772);
}
.home-btn.dark-mode {
  background-color: #9c89b8;
  color: #ffffff;
}
.home-btn.dark-mode:hover {
  background-color: #ffffff;
  color: #9c89b8;
}
/* Responsive for mobile */
@media (max-width: 768px) {
  .homepage {
    flex-direction: column;
  }
}
